<!DOCTYPE html>
<html lang="es">
<head>
  <link rel="stylesheet" href="../static/css/index_style.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  {% if user_role == 'admin' %}
    <title>Compuchek - Admin-Dashboard</title>
  {% elif user_role == 'moderador' %}
    <title>Compuchek - Mod-Dashboard</title>
  {% elif user_role == 'user' %}
    <title>Compuchek - User-Dashboard</title>
  {% endif %}

  
</head>
<body>
  <div class="dashboard-container">
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="profile">
        {% if user_profile_pic %}
          <img src="{{ url_for('static', filename=user_profile_pic) }}" alt="Foto de perfil" class="profile-img">
        {% else %}
          <div class="profile-img">👤</div>
        {% endif %}
        <span>{{ user_name }}</span>
      </div>

      <h2>Compuchek</h2>
      <ul>
        {% if user_role == 'admin' %}
          <li><a href="/Salas">🛋️ Salas</a></li>
          <li><a href="/Gestionar_Salas">🛠️ Gestionar Salas</a></li>
          <li><a href="/Computadoras">💻Computadoras</a></li>
          <li><a href="/Gestionar_Computadoras">🛠️ Gestionar Computadoras</a></li>


          <li><a href="/Gestionar_Usuarios">👥 Gestionar Usuarios</a></li>
          
          <li><a href="/reports">📊 Reportes</a></li>
        {% elif user_role == 'moderador' %}
          <li><a href="/review_reports">📋 Revisar reportes</a></li>
          <li><a href="/manage_content">⚙️ Gestionar contenido</a></li>
        {% elif user_role == 'user' %}
          <li><a href="/my_computers">💻 Mis computadoras</a></li>
          <li><a href="/submit_report">📝 Enviar reporte</a></li>
        {% endif %}
        <li><a href="/profile">✏️ Editar Perfil</a></li>
        <li><a href="/logout">🚪 Cerrar sesión</a></li>
      </ul>
    </aside>

    <!-- Main -->
    <main class="dashboard-main">
      <header>
        <h1>Bienvenido, {{ user_name }}</h1>
        <p>{{ user_message }}</p>
      </header>

      
      <footer>
        &copy; 2025 Compuchek. Todos los derechos reservados.
      </footer>
    </main>
  </div>
</body>
</html>
